body{
	padding:0px 150px;
}

img{
  height: 543px;
  width: 1019px;
}
.bg-primary{
  background-color: #E9DDD3;
}
.container-fluid{
  padding:0px 15px;
}
.image{
  height: 50px;
  width: 50px;
}
.contact{
  padding:0px 150px;
  padding-top:100px;
}
@media screen and (max-width: 950px) {
  body{
    padding: 0px;
  }
  .contact{
    padding:0px 10px;
  }
}