body{
	padding:0px 150px;
}
@media screen and (max-width: 950px) {
  body{
  	padding: 0px;
  }
}
img{
  height: 543px;
  width: 1019px;
}
.bg-primary{
  background-color: #E9DDD3;
}
.container-fluid{
  padding:0px 15px;
}