body{
	padding:0px 150px;
}

img{
  height: 543px;
  width: 1019px;
}
.containerflex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.card{
  background-color: #FFD1AA;
  border-radius: 5px;
  transition: 300ms;
  width: 490px;
  margin: 10px;
  margin-bottom: 50px;
}
.image{
  padding-left:20px;
  padding-right:20px;
}
.image img{
  margin-top:-30px;
  height:300px;
  width: 450px;
  border-radius: 10px;
}
.card:hover{
  transform: scale(1.02);
}
.containerflex p{
  padding-left:20px;
  padding-right: 20px;
}
.containerflex h2{
  padding-left:20px;
}
.bg-primary{  
  background-color: #E9DDD3;
}
.container-fluid{
  padding:0px 15px;
}
.image{
  height: 50px;
  width: 50px;
}
.contact{
  padding:0px 150px;
  padding-top:100px;
}
@media screen and (max-width: 950px) {
  body{
    padding: 0px;
  }
  .contact{
    padding:0px 10px;
  }
}